<%= form_tag request.path, method: :get, class: "filter-form", id: "filterForm" do %>
  <!-- Search Filter -->
  <div class="filter-section">
    <%= label_tag :search, t(".search_label"), class: "control-label" %>
    <div class="input-group">
      <%= text_field_tag :search, params[:search],
          placeholder: t(".search_placeholder"),
          class: "form-control",
          id: "searchInput" %>
      <span class="input-group-btn">
        <button class="btn btn-primary" type="submit">
          <i class="fa fa-search"></i>
        </button>
      </span>
    </div>
  </div>

  <!-- Status Filter -->
  <% if current_user %>
    <div class="filter-section">
      <%= label_tag :status, t(".status") %>
      <%= select_tag :status,
        options_for_select(enrolment_status_options, params[:status]&.to_sym),
        class: "form-control" %>
    </div>

  <!-- Action Buttons -->
    <div class="form-group mt-2">
      <%= submit_tag t(".apply"), class: "btn btn-primary btn-block" %>
      <%= link_to t(".reset"), request.path, class: "btn btn-default btn-block" %>
    </div>
  <% end %>
<% end %>
