<% provide :title, t(".title") %>
<% content_for :breadcrumbs do %>
  <%= link_to content_tag(:i, "", class: "fas fa-home"), root_path %>
  <span class="breadcrumb-separator"> > </span>
  <%= link_to t(".title"), user_courses_path %>
<% end %>

<div class="container-fluid">
  <div class="row">
    <aside class="col-md-4 course-filter-container filter-sidebar">
      <h4 class="filter-header">
        <i class="fa fa-filter"></i> <%= t(".filter_header") %>
      </h4>
      <%= render "user/courses/filter" %>
    </aside>

    <div class="col-md-8">
      <div class="row">
        <div class="course-page-header">
          <h2><i class="fas fa-book-open"></i> <%= t(".title") %></h2>
        </div>
        <% @courses.each do |course| %>
          <div class="col-lg-4 col-md-6 col-sm-12 course-column">
            <div class="course-wrapper">
              <%= render "user/courses/course_card", course: course, user_courses_map: @user_courses_map %>
            </div>
          </div>
        <% end %>
      </div>

      <div class="row mt-3">
        <div class="col-12 text-center">
          <%== pagy_bootstrap_nav(@pagy) %>
        </div>
      </div>
    </div>
  </div>
</div>
