<div class="list-page-container">
  <header class="page-header">
    <h1><%= t(".title") %></h1>
    <% content_for :breadcrumbs do %>
      <%= link_to content_tag(:i, "", class: "fas fa-home"), root_path %>
      <span class="breadcrumb-separator"> > </span>
      <span><%= t(".title") %></span>
    <% end %>
    <div class="header-actions">
      <%= search_form_for @q, url: admin_words_path, local: true, class: "search-form", data: { turbo_frame: "words-table" } do |f| %>
        <%= f.search_field :content_cont,
                          placeholder: t(".search_word"),
                          class: "search-input",
                          value: params.dig(:q, :content_cont) %>
        <%= f.search_field :meaning_cont,
                          placeholder: t(".search_meaning"),
                          class: "search-input",
                          value: params.dig(:q, :meaning_cont) %>
        <%= f.submit t(".search"), class: "button button-primary" %>
      <% end %>
      <%= link_to t(".new_word_button"), new_admin_word_path, class: "button button-primary" %>
    </div>
  </header>
  <div class="content-panel">
    <table class="data-table">
      <thead class="data-table-header">
        <tr>
          <th><%= sort_link(@q, :content, t(".table_headers.word")) %></th>
          <th><%= sort_link(@q, :meaning, t(".table_headers.meaning")) %></th>
          <th><%= sort_link(@q, :created_at, t(".table_headers.created_at")) %></th>
          <th class="column-actions"><%= t(".table_headers.actions") %></th>
        </tr>
      </thead>
      <tbody class="data-table-body">
        <% if @words.any? %>
          <%= render partial: "word", collection: @words, as: :word %>
        <% else %>
          <tr>
            <td colspan="4" class="cell-empty">
              <%= t(".empty_message") %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%== pagy_bootstrap_nav(@pagy) if @pagy %>
  </div>
</div>
