<div class="page-container">
  <% content_for :breadcrumbs do %>
    <%= link_to content_tag(:i, "", class: "fas fa-home"), root_path %>
    <span class="breadcrumb-separator"> > </span>
    <%= link_to t("admin.words.index.title"), admin_words_path %>
    <span class="breadcrumb-separator"> > </span>
    <span><%= t(".title") %></span>
  <% end %>
  <div class="content-wrapper">
    <div class="form-card">
      <div class="form-card-body">
        <h1 class="form-title"><%= t(".title") %></h1>
        <% submit_text = t(".submit.create") %>
        <% show_cancel = true %>
        <%= render "form", submit_text: submit_text, show_cancel: show_cancel %>
      </div>
    </div>
  </div>
</div>
