<% content_for :breadcrumbs do %>
  <%= link_to content_tag(:i, "", class: "fas fa-home"), root_path %>
  <span class="breadcrumb-separator"> > </span>
  <%= link_to t("admin.courses.index.course_list"), admin_courses_path %>
  <span class="breadcrumb-separator"> > </span>
  <%= link_to t("admin.courses.show.course_details"), admin_course_path(@course) %>
  <span class="breadcrumb-separator"> > </span>
  <%= link_to t("admin.courses.show.course_details"), admin_course_lessons_path(@course) %>
  <span class="breadcrumb-separator"> > </span>
  <span><%= t(".title") %></span>
<% end %>
<%= render "shared/error_messages", object: @error_object %>

<div class="lesson-form-container">
  <h1><%= t(".title") %></h1>

  <%= render "form",
      lesson: @lesson,
      method: :patch,
      submit_text: t(".form.update_button"),
      selected_word_ids: @lesson.components.word.pluck(:word_id),
      selected_test_ids: @lesson.components.test.pluck(:test_id),
      selected_paragraphs: @lesson.components.paragraph.pluck(:content),
      word_components: @lesson.components.word.order(:index_in_lesson),
      test_components: @lesson.components.test.order(:index_in_lesson),
      paragraph_components: @lesson.components.paragraph.order(:index_in_lesson) %>
</div>
