<%= form_with(model: test, url: url, local: true, class: "test-form") do |form| %>
  <div class="form-row form-row-top">
    <div class="form-group form-group-name">
      <%= form.label :name, t(".test_name") %>
      <%= form.text_field :name, class: "form-control" %>
    </div>
    <div class="form-group form-group-duration">
      <%= form.label :duration, t(".test_duration") %>
      <%= form.number_field :duration, class: "form-control" %>
    </div>
    <div class="form-group form-group-attempts">
      <%= form.label :max_attempts, t(".test_max_attempt") %>
      <%= form.number_field :max_attempts, class: "form-control" %>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group form-group-description">
      <%= form.label :description, t(".test_description") %>
      <%= form.text_area :description, class: "form-control form-textarea" %>
    </div>
  </div>

  <div class="form-actions">
    <%= form.submit yield(:button_text), class: "button button-primary" %>
  </div>
<% end %>
