<% content_for :title, t(".test_list") %>

<div class="admin-tests">
  <div class="form-container">
    <div class="page-header">
      <h1><%= t(".test_list") %></h1>
      <% content_for :breadcrumbs do %>
        <%= link_to content_tag(:i, "", class: "fas fa-home"), root_path %>
        <span class="breadcrumb-separator"> > </span>
        <%= link_to t("admin.tests.index.test_list"), admin_tests_path %>
      <% end %>
      <%= link_to t(".create_test"), new_admin_test_path, class: "btn btn-primary" %>
    </div>

    <div class="search-section mb-4">
      <%= search_form_for @q, url: admin_tests_path, local: true, class: "search-form" do |f| %>
        <div class="row g-3">
          <div class="col-md-4">
            <%= f.search_field :name_cont,
                              placeholder: t(".search_test_name"),
                              class: "form-control",
                              value: params.dig(:q, :name_cont) %>
          </div>
          <div class="col-md-3">
            <%= f.number_field :duration_eq,
                              placeholder: t(".search_duration"),
                              class: "form-control",
                              value: params.dig(:q, :duration_eq) %>
          </div>
          <div class="col-md-3">
            <%= f.number_field :max_attempts_eq,
                              placeholder: t(".search_attempts"),
                              class: "form-control",
                              value: params.dig(:q, :max_attempts_eq) %>
          </div>
          <div class="col-md-2">
            <%= f.submit t(".search"), class: "btn btn-primary w-100" %>
          </div>
        </div>
        <% if params[:q].present? %>
          <div class="mt-2">
            <%= link_to t(".clear_search"), admin_tests_path, class: "btn btn-outline-secondary btn-sm" %>
          </div>
        <% end %>
      <% end %>
    </div>

    <div class="tests-table">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th><%= sort_link(@q, :name, t(".test_name")) %></th>
              <th><%= t(".description") %></th>
              <th><%= sort_link(@q, :duration, t(".duration_minutes")) %></th>
              <th><%= sort_link(@q, :max_attempts, t(".max_attempts")) %></th>
              <th><%= sort_link(@q, :created_at, t(".created_date")) %></th>
              <th><%= t(".actions") %></th>
            </tr>
          </thead>
          <tbody>
            <%= render partial: "test_row", collection: @tests, as: :test %>
          </tbody>
        </table>
      </div>
    </div>

    <div class="pagination-wrapper">
      <%== pagy_bootstrap_nav @pagy %>
    </div>
  </div>
</div>
