<% content_for :title, t(".course_list") %>

<div class="admin-courses">
  <div class="form-container">
    <div class="page-header">
      <h1><%= t(".course_list") %></h1>
      <%= link_to t(".create_course"), new_admin_course_path, class: "btn btn-primary" %>
      <% content_for :breadcrumbs do %>
        <%= link_to content_tag(:i, "", class: "fas fa-home"), root_path %>
        <span class="breadcrumb-separator"> > </span>
        <%= link_to t("admin.courses.index.course_list"), admin_courses_path %>
      <% end %>
    </div>

    <div class="search-section mb-4">
      <%= form_with url: admin_courses_path, method: :get, local: true, class: "d-flex gap-2" do |form| %>
        <%= form.text_field :search,
                            value: params[:search],
                            placeholder: t(".search_placeholder"),
                            class: "form-control search-input" %>

        <% if params[:search].present? %>
          <%= link_to t(".clear_search"), admin_courses_path,
                      class: "btn btn-outline-secondary" %>
        <% end %>
      <% end %>
    </div>


    <div class="courses-table">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th><%= t(".course_name") %></th>
              <th><%= t(".short_description") %></th>
              <th><%= t(".created_date") %></th>
              <th><%= t(".actions") %></th>
            </tr>
          </thead>
          <tbody>
            <%= render partial: "course_row", collection: @courses, as: :course %>
          </tbody>
        </table>
      </div>
    </div>

    <div class="pagination-wrapper">
      <%== pagy_bootstrap_nav @pagy %>
    </div>
  </div>
</div>
